:host {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#file-upload-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#drop-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // Must be displayed above the navigation and the head bar.
    z-index: 999;
    background: rgba(#bdbd00, 0.05);
    border: 3px solid #bdbd00;
    animation: border-pulse-blue 0.8s infinite alternate;
}

@keyframes border-pulse-blue {
    0% {
        border-color: #bdbd00;
    }
    100% {
        border-color: rgba(#15A9E8, 0.1);
    }
}

.floating-action-button {
    position: initial;
    width: 40px;

    & > input {
        display: none;
    }
}

.label {
    flex: 1;
    color: #bdbd00;
    font-size: 1.2em;
    padding-left: 10px;
}

#further-actions-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    align-items: center;

    .entry {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #c1c1c1;
        transition: all 0.2s;

        &:hover {
            color: #000000;
        }
    }

    .divider {
        color: #c1c1c1;
        margin: 0 10px;
    }
}

#instructions-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

#instructions {
    position: absolute;
    background: #ffffff;
    padding: 20px;

    h3 {
        margin-top: 0;
    }

    .close-icon {
        cursor: pointer;
        opacity: .5;
        transition: opacity .2s ease;
        position: absolute;
        top: 20px;
        right: 20px;

        &:hover {
            opacity: 1;
            transition: opacity .2s ease;
        }
    }
}