<!--***********************************************
** File Upload
************************************************-->
<div id="file-upload-container" *ngIf="!hash">
    <div class="floating-action-button" (click)="fileUpload.click()" matTooltip="Upload file">
        <mat-icon>file_upload</mat-icon>
        <input type="file" ng2FileSelect [uploader]="uploader" #fileUpload>
    </div>
    <div class="label">Add file</div>
    <div id="search-hash-manually" (click)="openSearch()">
        <mat-icon>search</mat-icon>
        Search
    </div>
</div>
<div id="drop-overlay"
     *ngIf="fileIsOverBody"
     ng2FileDrop
     [class.file-over]="fileIsOverDropZone"
     [class.disabled]="fileIsOverDropZone"
     (fileOver)="onFileOverDropZone($event)"
     (onFileDrop)="onFileDrop($event)"
     [uploader]="uploader">
</div>
<!--***********************************************
** END File Upload
************************************************-->

