<div id="metamask-missing-error" *ngIf="metamaskMissing">
    Metamask could not be detected. Please install or activate the <a href="https://www.google.com/search?q=install+metamask" target="_blank">Browser Plugin Metamask</a>.
</div>

<div id="logo-and-headline-container">
    <div id="logo" class="logo-flex-container" (click)="navigateToStartPage()"></div>
    <div id="headline-container">
        <h1>Generate Tamper-Proof Timestamps for Your Documents on Ethereum</h1>
        <div id="client-side-note">Client-side, open-source Ethereum DApp. Files will not leave your PC. Only the hash will be saved.</div>
    </div>
    <div id="dummy" class="logo-flex-container"></div>
</div>

<div class="card" id="card">
    <router-outlet></router-outlet>
</div>

<div id="footer">
    <a href="https://blockchain.project-partners.de/start/" class="entry">Blockchain Services</a>
    <span class="divider"> | </span>
    <a href="https://blockchain.project-partners.de/footer/impressum/" class="entry">Imprint</a>
    <span class="divider"> | </span>
    <a href="https://github.com/ProjectPartnersManagement/document-hash" class="entry">GitHub</a>
    <span class="divider"> | </span>
    <a href="https://opensource.org/licenses/MIT" class="entry">License: MIT</a>
    <span class="divider"> | </span>
    <a [href]="'https://etherscan.io/address/' + SMART_CONTRACT_ADDRESS + '#code'" class="entry">Smart Contract</a>
</div>