// Small devices (landscape phones, 576px and up)
$sm: 576px;

// Medium devices (tablets in portrait mode, 768px and up)
$md: 768px;

// Large devices (tablets in landscape mode, 992px and up)
$lg: 992px;

// Extra large devices (desktops, 1200px and up)
$xl: 1200px;

// Extra extra large devices (large desktops, 1200px and up)
$xxl: 1400px;